body{
    background-color: rgb(58, 119, 114);
    color:rgb(243, 239, 241);
}
#author{
    text-align: center;
    font-family:"Bradley Hand ITC";
    font-size: 30px;
    
}
#quote{
    text-align: center;
    font-family:"Bradley Hand ITC";
    font-size: 40px;
}